{% extends 'base.html' %}
{% load static %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <form method="REVIEW">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Delete Review</legend>
                        <h2>Are you sure you want to delete the Review</h2>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'books:book-detail' review.pk %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}